<br><br>
<div class="col-md-10 offset-md-1">
  <div class="card">
    <div class="d-flex justify-content-around tituloCard mt-2 mb-2" id='formUsr'>
      <div class="mx-auto">
        <i class="fa-solid fa-file-contract"></i> Informacion del Contrato
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1">
        <button type="button" class="btn btn-warning botones" [routerLink]="'../../ContratEdit/'+c.ID_Contrato"
          routerLinkActive="active"><i class="fas fa-pencil-alt"></i></button>
      </div>

    </div>
    <div class="card-body">
      <div class="row">

        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <p class="separador text-center">Tipo de Contrato:</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <p class="contenido text-left"> <span *ngIf="c.type == '0'">
              Meses</span><span *ngIf="c.type == '2'">INDEFINIDO</span><span *ngIf="c.type == '1'"> Años</span> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <p class="separador text-center">Tiempo de Contrato:</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <p class="contenido text-left" *ngIf="c.type != '2'">{{c.cantidad}} <span *ngIf="c.type == '0'">
              Meses</span><span *ngIf="c.type == '2'">INDEFINIDO</span><span *ngIf="c.type == '1'"> Años</span>  </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <p class="separador text-center"> Fecha Ingreso:</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <p class="contenido text-left"> {{c.Ingreso | date: 'dd MMMM yyyy'}}  </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <p class="separador text-center"> Fecha Vencimiento de Contrato:</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <p class="contenido text-left"> {{c.Terminacion | date: 'dd MMMM yyyy'}}  </p>
          </div>
        </div>



        <div class="card-body">



          <p class="separador text-center">  Informacion del Personal:  <i class="fa-solid fa-user"></i></p>

        <div class="row">

            <div class="card text-left">
              <div class="card-header">
              </div>
              <div class="card-body">
                <div class="row">
                  <p class="card-text"> <b><i>Nombre(s):</i></b> {{c.Nombres}} </p>
                  <p class="card-text"> <b><i>Apellido Paterno:</i></b> {{c.A_paterno}} </p>
                  <p class="card-text"> <b><i>Apellido Materno:</i></b> {{c.A_materno}} </p>

                </div>
              </div>
              <div class="card-footer text-muted">
              </div>
            </div>

        </div>


          <!-- End Propiedades -->
        </div>
        <!-- END CARD -->
      </div>
      <br>
    </div>
  </div>
</div>

<br><br>
