<br><br>
<div class="col-md-10 offset-md-1">
  <div class="card">
    <div class="d-flex justify-content-around tituloCard mt-2 mb-2" id='formUsr'>
      <div class="mx-auto">
        <i class="fa-solid fa-truck"></i>Editar Vehiculo
      </div>
    </div>

    <div class="card-body">

      <div class="row">

        <p class="separador text-center"> Informacion del Vehiculo: </p>

        <form [formGroup]="form" (ngSubmit)="Update($event)">

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
              <p class="separador text-center">Modelo:</p>
            </div>
            <div class="contenido col-12 col-sm-12 col-md-12 col-lg-9">
              <input #valor type="text" class="form-control" name="Modelo" formControlName="Modelo"
                placeholder="Modelo del Vehiculo">
              <div *ngIf="form.get('Modelo')!.errors && form.get('Modelo')!.touched ">
                <p class="msjErr" *ngIf="form.get('Modelo')!.hasError('required')">
                  <i class="fas fa-times-circle"></i> Este campo es requerido
                </p>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
              <p class="separador text-center">Placas:</p>
            </div>
            <div class="contenido col-12 col-sm-12 col-md-12 col-lg-9">
              <input #valor type="text" class="form-control" name="Placas" formControlName="Placas"
                placeholder="Placas del Vehiculo">
              <div *ngIf="form.get('Placas')!.errors && form.get('Placas')!.touched ">
                <p class="msjErr" *ngIf="form.get('Placas')!.hasError('Placas')">
                  <i class="fas fa-times-circle"></i> Este campo es requerido
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
              <p class="separador text-center">Propietario:</p>
            </div>
            <div class="contenido col-12 col-sm-12 col-md-12 col-lg-9">
              <input #valor type="text" class="form-control" name="Propietario" formControlName="Propietario"
                placeholder="Propietario del Vehiculo">
              <div *ngIf="form.get('Propietario')!.errors && form.get('Propietario')!.touched ">
                <p class="msjErr" *ngIf="form.get('Propietario')!.hasError('required')">
                  <i class="fas fa-times-circle"></i> Este campo es requerido
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
              <p class="separador text-center">No.Serie:</p>
            </div>
            <div class="contenido col-12 col-sm-12 col-md-12 col-lg-9">
              <input #valor type="text" class="form-control" name="NoSerie" formControlName="NoSerie"
                placeholder="No. Serie del Vehiculo">
              <div *ngIf="form.get('NoSerie')!.errors && form.get('NoSerie')!.touched ">
                <p class="msjErr" *ngIf="form.get('NoSerie')!.hasError('required')">
                  <i class="fas fa-times-circle"></i> Este campo es requerido
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4" *ngIf="typelistsee">
              <div class="mb-2 form-floating">
                <select class="form-select form-control " name="typeform" formControlName="typeform"
                  (change)="select()" #type>
                  <option *ngFor="let type of typePropetyList;" [value]="type">
                    {{type}}
                  </option>
                </select>
                <label style="color: #AEB6BF">Propiedad</label>
                <!-- Directiva para mostrar mensajes reactivos -->
              </div>
            </div>
            <!-- Separacion de lados -->
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="see1">
                <div class="mb-2 form-floating">
                  <input  type="{{tp1}}" class="form-control" name="prop1" formControlName="prop1"
                    placeholder="Propiedad" (change)="UpdateFechaInput(vprop1.value)" #vprop1>
                  <label style="color: #AEB6BF">{{p1}}</label>
                  <!-- Directiva para mostrar mensajes reactivo -->
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="see2">
                <div class="mb-2 form-floating" >
                  <input type="{{tp2}}" class="form-control" name="prop2" formControlName="prop2"
                    placeholder="Propiedad 2">
                  <label style="color: #AEB6BF">{{p2}}</label>
                  <!-- Directiva para mostrar mensajes reactivo -->
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="see3">
                <div class="mb-2 form-floating">
                  <input  type="{{tp3}}" class="form-control" name="prop3" formControlName="prop3"
                    placeholder="Propiedad 3">
                  <label style="color: #AEB6BF">{{p3}}</label>
                  <!-- Directiva para mostrar mensajes reactivo -->
                </div>
              </div>


            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-3">
            <button type="button" [disabled]="!canAddPropety"
              class="btn btn-warning btn-lg d-grid justify-content-md-start" on-click="addpropety()">Añadir
              Propiedad</button>
          </div>


          <p class="separador2 text-center"> Propiedades del Vehiculo</p>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3" *ngFor="let propety of type; let i=index;">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 d-md-flex justify-content-md-star">
                      <h5 class="card-title">{{type[i]}}</h5>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 d-md-flex justify-content-md-end ">
                      <button type="button" class="btn btn-danger" on-click="deletePropety(i)"><i
                          class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                  <p class="card-text mt-2" >
                    <span *ngIf="type[i] == 'Tenencia'">Ultima Tenencia Realizada: </span>
                    <span *ngIf="type[i] == 'Verificacion'">Ultima Verificacion Realizada: </span>
                    <span *ngIf="type[i] == 'Seguro'">Provedor de Seguro: </span>
                    <input class="form-control text" *ngIf="type[i] != 'Seguro'" type="date" value="{{propety1[i]}}"
                      (change)="funpropety(i,prop1.value)" #prop1>

                    <input class="form-control text" *ngIf="type[i] == 'Seguro'" type="text" value="{{propety1[i]}}"
                      (change)="funpropety(i,proptxt.value)" #proptxt>

                  </p>

                  <p class="card-text mt-2" *ngIf="datesee">

                    <span *ngIf="type[i] == 'Tenencia'">Proxima Tenencia: </span>
                    <span *ngIf="type[i] == 'Verificacion'">Proxima Verificacion: </span>
                    <span *ngIf="type[i] == 'Seguro'">No. Poliza De Seguro: </span>

                    <input class="form-control text" *ngIf="type[i] != 'Seguro'" type="date" value="{{propety2[i]}}"
                    (change)="funpropety2(i,prop2.value)" #prop2>

                  <input class="form-control text" *ngIf="type[i] == 'Seguro'" type="text" value="{{propety2[i]}}"
                    (change)="funpropety2(i,prop2txt.value)" #prop2txt>
                  </p>

                  <p class="card-text" *ngIf="type[i] == 'Seguro'">
                    <span *ngIf="type[i] == 'Seguro'">Vencimiento de Seguro: </span>
                    <input class="form-control text" *ngIf="type[i] == 'Seguro'" type="date" value="{{propety3[i]}}"
                    (change)="funpropety3(i,prop3.value)" #prop3>
                  </p>
                </div>
              </div>
            </div>
          </div>


          <br>
          <input type="submit" [disabled]="form.invalid || canUpdate" class="btn btn-success btn-lg" value="Actualizar">
        </form>






        <!-- END CARD -->
      </div>
      <br>
    </div>
  </div>
</div>

<br><br>
